@media(max-width: 575px) {
    .navbar {
        border: 1px solid red;
        height: 70px;
        background: #bbf9ff;
        top: 0;
        left: 0;
        right: 0;
    }

    .navbar__menu {
        display: flex;
        flex-direction: row;
    }

    .navbar:hover span {
        left: auto;
        top: 100%;
        color: #0194ff;
        background: #bbf9ff;

    }

    .navbar__link:hover {
        color: #0194ff;
    }

    .navbar__item:before {
        display: none;
    }

    .container {
        border: 1px solid yellow;
        height: 150vh;
        margin: 10px auto;
    }
    header{
        margin-top: 75px !important;
    }

    

    .container-apresentacao {
        flex-direction: column;
    }

    .img-illustracao-principal {
        width: 500px;
    }

    .descricao-apresentacao {
        width: 80vw;
    }

    .container-servicos {
        width: 90vw;
        flex-direction: column;
    }

    .servicos-descricao, .img-servicos-ilustracao {
        width: 100%;
    }


}

@media (min-width: 574px) and (max-width: 767.98px) {
    header{
        margin-top: 85px !important;
    }
    .navbar {
        height: 80px !important;
        background: #bbf9ff;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;


    }

    .navbar__menu {
        display: flex;
        flex-direction: row;
    }

    .navbar:hover span {
        left: auto;
        top: 100%;
        background: #bbf9ff;
        color: #0194ff;

    }

    .navbar__link:hover {
        color: #0194ff;
    }

    .navbar__item:before {
        display: none;
    }

    .container {
        border: 2px solid green;
        height: 150vh;
        margin: 10px auto;
    }

       .container-apresentacao {
        flex-direction: column;
    }

    .img-illustracao-principal {
        width: 500px;
    }

    .descricao-apresentacao {
        width: 80vw;
    }
    
    .container-servicos {
        width: 90vw;
        flex-direction: column;
    }

    .servicos-descricao, .img-servicos-ilustracao {
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    header{
        margin-top: 85px !important;
    }
    .navbar {
        top: 0;
        left: 0;
        right: 0;
        height: 80px !important;
        background: #bbf9ff;
        margin: auto;


    }

    .navbar__menu {
        display: flex;
        flex-direction: row;
    }

    .navbar:hover span {
        left: auto;
        top: 100%;
        color: #0194ff;
        background: #bbf9ff;

    }

    .navbar__link:hover {
        color: #0194ff;
    }

    .navbar__item:before {
        display: none;
    }

    .container {
        height: 185vh;
        margin: 10px auto;
    }


    .container-apresentacao {
        flex-direction: column;
    }

    .img-illustracao-principal {
        width: 500px;
    }

    .descricao-apresentacao {
        width: 80vw;
    }
    
    .container-servicos {
        width: 90vw;
        flex-direction: column;
    }

    .servicos-descricao, .img-servicos-ilustracao {
        width: 100%;
    }

}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .container {
        border: 2px solid blue;
        height: 140vh;
        margin: 10px auto;
        
    }


    .img-illustracao-principal {
        width: 500px;
    }


    .descricao-apresentacao {
        width: 80vw;
    }
}