@media(max-width: 575px) {
    .navbar {
        height: 70px !important;
        background: #bbf9ff;
        
        top: 0;
        left: 0;
        right: 0;
        margin: auto;

    }

    .navbar__menu {
        display: flex;
        flex-direction: row;
    }

    .navbar:hover span {
        left: auto;
        top: 100%;
        color: #0194ff;
        background: #bbf9ff;

    }

    .navbar__link:hover {
        color: #0194ff;
    }

    .navbar__item:before {
        display: none;
    }

    .container {
        border: 2px solid red;
        margin: 100px auto;
        height: 78vh;
    }


}

@media (min-width: 574px) and (max-width: 767.98px) {
    .navbar {
        height: 80px !important;
        background: #bbf9ff;

        top: 0;
        left: 0;
        right: 0;
        margin: auto;


    }

    .navbar__menu {
        display: flex;
        flex-direction: row;
    }

    .navbar:hover span {
        left: auto;
        top: 100%;
        background: #bbf9ff;
        color: #0194ff;

    }

    .navbar__link:hover {
        color: #0194ff;
    }

    .navbar__item:before {
        display: none;
    }

    .container {
        border: 2px solid green;
        margin: 100px auto;
        height: 80vh;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .navbar {

        top: 0;
        left: 0;
        right: 0;
        height: 80px !important;
        background: #bbf9ff;
        margin: auto;


    }

    .navbar__menu {
        display: flex;
        flex-direction: row;
    }

    .navbar:hover span {
        left: auto;
        top: 100%;
        color: #0194ff;
        background: #bbf9ff;

    }

    .navbar__link:hover {
        color: #0194ff;
    }

    .navbar__item:before {
        display: none;
    }

    .container {
        border: 2px solid yellow;
        margin: 100px auto;
        height: 80vh;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .container {
        border: 2px solid blue;
        margin: 10px auto;
        width: 800px;
    }
}