:root {
    /*  Cor de fonte */
    --cor-Azul-Marinho: #040314;
    /*  Cor de fundo */
    --cor-Azul-Oceano: #15365c;
    /* Cor de fundo*/
    --cor-azul: #0194ff;
    /**/
    --cor-azulesmeralda: #bbf9ff;
    /**/
    --cor-Branco-Azulado: #dbf3f0;
    /**/
    --cor-branco: #f8f2f6;
    /**/
    --cor-clara-links: #17cdce;
    /**/
    --cor-rosa: #dd5065;
    /**/
    --cor-roxo: #9e78fe;
    /**/
    --cor-verdemar: #04b3c8;
}

$borderRadius: 10px;
$spacer: 1rem;
$primary: #406ff3;
$text: #6a778e;
$linkHeight: $spacer * 3.5;
$timing: 250ms;
$transition: $timing ease all;
.fontes {
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Lobster', cursive;
}

/*********************************** CONFIGURAÇÃO PADRÃO ***********************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-size: calc(60% + 0.9vmin);
}

html,
body {
    font-size: calc(60% + 0.8vmin);
    margin: 0;
    padding: 0;
}
body {
    overflow-x: hidden;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.1rem;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1561' height='662' preserveAspectRatio='none' viewBox='0 0 1561 662'%3e%3cg clip-path='url(%26quot%3b%23SvgjsClipPath16353%26quot%3b)' fill='none'%3e%3crect width='1561' height='662' x='0' y='0' fill='url(%23SvgjsRadialGradient16354)'%3e%3c/rect%3e%3ccircle r='30.525' cx='162.53' cy='612.73' fill='url(%23SvgjsRadialGradient16355)'%3e%3c/circle%3e%3ccircle r='46.51' cx='1389.2' cy='134.24' fill='url(%23SvgjsLinearGradient16356)'%3e%3c/circle%3e%3ccircle r='29.14' cx='60.97' cy='106.72' fill='url(%23SvgjsLinearGradient16357)'%3e%3c/circle%3e%3ccircle r='25.32' cx='451.33' cy='180.18' fill='url(%23SvgjsLinearGradient16358)'%3e%3c/circle%3e%3ccircle r='61.84' cx='1201.3' cy='302.47' fill='url(%23SvgjsRadialGradient16359)'%3e%3c/circle%3e%3ccircle r='51.85' cx='534.16' cy='552.11' fill='url(%23SvgjsLinearGradient16360)'%3e%3c/circle%3e%3ccircle r='47.375' cx='637.59' cy='455.52' fill='url(%23SvgjsLinearGradient16361)'%3e%3c/circle%3e%3ccircle r='34.43' cx='82.14' cy='457.65' fill='url(%23SvgjsRadialGradient16362)'%3e%3c/circle%3e%3ccircle r='57.275' cx='206.07' cy='115.32' fill='url(%23SvgjsLinearGradient16363)'%3e%3c/circle%3e%3ccircle r='35.28' cx='428.47' cy='477.95' fill='url(%23SvgjsLinearGradient16364)'%3e%3c/circle%3e%3ccircle r='17.415' cx='1145.1' cy='660.02' fill='url(%23SvgjsLinearGradient16365)'%3e%3c/circle%3e%3ccircle r='27.295' cx='173.67' cy='623.68' fill='url(%23SvgjsLinearGradient16366)'%3e%3c/circle%3e%3ccircle r='63.81' cx='785.41' cy='81.84' fill='url(%23SvgjsRadialGradient16367)'%3e%3c/circle%3e%3c/g%3e%3cdefs%3e%3cclipPath id='SvgjsClipPath16353'%3e%3crect width='1561' height='662' x='0' y='0'%3e%3c/rect%3e%3c/clipPath%3e%3cradialGradient cx='50%25' cy='100%25' r='1023.44' gradientUnits='userSpaceOnUse' id='SvgjsRadialGradient16354'%3e%3cstop stop-color='rgba(4%2c 3%2c 20%2c 1)' offset='0.35'%3e%3c/stop%3e%3cstop stop-color='rgba(28%2c 124%2c 220%2c 1)' offset='0.44'%3e%3c/stop%3e%3cstop stop-color='rgba(4%2c 3%2c 20%2c 1)' offset='0.53'%3e%3c/stop%3e%3c/radialGradient%3e%3cradialGradient cx='101.48' cy='673.7800000000001' r='172.68' gradientUnits='userSpaceOnUse' id='SvgjsRadialGradient16355'%3e%3cstop stop-color='rgba(99%2c 223%2c 235%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(16%2c 106%2c 242%2c 1)' offset='1'%3e%3c/stop%3e%3c/radialGradient%3e%3clinearGradient x1='1296.18' y1='134.24' x2='1482.22' y2='134.24' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient16356'%3e%3cstop stop-color='rgba(213%2c 206%2c 203%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(1%2c 148%2c 255%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='2.6899999999999977' y1='106.72' x2='119.25' y2='106.72' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient16357'%3e%3cstop stop-color='rgba(23%2c 205%2c 206%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(78%2c 217%2c 231%2c 0.6)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='400.69' y1='180.18' x2='501.97' y2='180.18' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient16358'%3e%3cstop stop-color='rgba(1%2c 148%2c 255%2c 1)' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(30%2c 229%2c 228%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3cradialGradient cx='1077.62' cy='426.15000000000003' r='349.82' gradientUnits='userSpaceOnUse' id='SvgjsRadialGradient16359'%3e%3cstop stop-color='rgba(99%2c 223%2c 235%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(16%2c 106%2c 242%2c 1)' offset='1'%3e%3c/stop%3e%3c/radialGradient%3e%3clinearGradient x1='430.46' y1='552.11' x2='637.86' y2='552.11' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient16360'%3e%3cstop stop-color='rgba(1%2c 148%2c 255%2c 1)' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(30%2c 229%2c 228%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='542.84' y1='455.52' x2='732.34' y2='455.52' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient16361'%3e%3cstop stop-color='rgba(23%2c 205%2c 206%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(78%2c 217%2c 231%2c 0.6)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3cradialGradient cx='13.280000000000001' cy='526.51' r='194.77' gradientUnits='userSpaceOnUse' id='SvgjsRadialGradient16362'%3e%3cstop stop-color='rgba(99%2c 223%2c 235%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(16%2c 106%2c 242%2c 1)' offset='1'%3e%3c/stop%3e%3c/radialGradient%3e%3clinearGradient x1='91.52' y1='115.32' x2='320.62' y2='115.32' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient16363'%3e%3cstop stop-color='%2384b6e0' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(1%2c 148%2c 255%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='357.91' y1='477.95' x2='499.03000000000003' y2='477.95' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient16364'%3e%3cstop stop-color='%2384b6e0' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(1%2c 148%2c 255%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='1110.27' y1='660.02' x2='1179.93' y2='660.02' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient16365'%3e%3cstop stop-color='%2332325d' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(30%2c 146%2c 230%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='119.07999999999998' y1='623.68' x2='228.26' y2='623.68' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient16366'%3e%3cstop stop-color='%2332325d' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(30%2c 146%2c 230%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3cradialGradient cx='657.79' cy='209.46' r='360.96' gradientUnits='userSpaceOnUse' id='SvgjsRadialGradient16367'%3e%3cstop stop-color='rgba(99%2c 223%2c 235%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(16%2c 106%2c 242%2c 1)' offset='1'%3e%3c/stop%3e%3c/radialGradient%3e%3c/defs%3e%3c/svg%3e");
  background-attachment: fixed;

}

a {
    text-decoration: none;
}

li {
    list-style: none;
}
.fa-whatsapp{
    padding: 10px;
    background-image: linear-gradient(to top,#040314, #15365c,#0194ff, #17cdce);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 1.9rem;
}
.scroll-top{
    position:fixed;
    right: 0;
    bottom: 0;
    margin: 10px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--cor-Azul-Marinho);
    cursor: pointer;
    transform: scale(0.9);
    border-radius: 50%;
    background: linear-gradient(to top,#040314, #15365c,#0194ff, #17cdce, #bbf9ff);
    border: 1px solid #0194ff;
    transition: transform 260ms cubic-bezier(0.4, 0, 0.2, 1);
    filter: drop-shadow(-8px 12px 7px var(--cor-Azul-Marinho));
    z-index: 999;
}

.scroll-top:hover{
    background: linear-gradient(to top,#bbf9ff,#17cdce,#0194ff,#15365c,#040314);
    border: 1px solid var(--cor-azulesmeralda);
    color: var(--cor-azulesmeralda);
    transform: scale(1.1);
    transition: 0.4s;

}
/*********************************** CONFIGURAÇÃO MENU LATERAL ***********************************/
@mixin gooeyEffect($i) {
    @keyframes gooeyEffect-#{$i} {
        0% {
            transform: scale(1, 1);
        }
        50% {
            transform: scale(0.5, 1.5);
        }
        100% {
            transform: scale(1, 1);
        }
    }
}
.navbar {
    $ref: &;
    position: fixed;
    top: $spacer;
    left: $spacer;
    background: linear-gradient(to top, #15365c, #17cdce, #bbf9ff, #dbf3f0);
    border-radius: $borderRadius;
    padding: $spacer 0;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.03);
    height: 94vh;
    z-index: 3;
    &__link {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: $linkHeight;
        width: $spacer * 5.5;
        color: var(--cor-Azul-Oceano);
        transition: $transition;
        span {
            position: absolute;
            left: 100%;
            transform: translate(-($spacer * 3));
            opacity: 0;
            color: var(--cor-Azul-Marinho);
            background: linear-gradient(to top, #0194ff, #17cdce, #bbf9ff, #dbf3f0);
            padding: $spacer * 0.75;
            transition: $transition;
            border-radius: $borderRadius * 1.75;
        }
        &:hover {
            color: var(--cor-Azul-Marinho);
            span {
                opacity: 1;
                transform: translate(0);
            }
        }
    }
    &__menu {
        position: relative;
        top: 20%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    &__item {
        &:last-child {
            &:before {
                content: "";
                position: absolute;
                opacity: 0;
                z-index: -1;
                top: 0;
                left: $spacer;
                width: $linkHeight;
                height: $linkHeight;
                background: $primary;
                border-radius: $borderRadius * 1.75;
                transition: $timing cubic-bezier(1, 0.2, 0.1, 1.2) all;
            }
        }
        @for $i from 1 to 12 {
            &:first-child:nth-last-child(#{$i}),
            &:first-child:nth-last-child(#{$i}) ~ li {
                &:hover {
                    ~ li:last-child:before {
                        opacity: 1;
                    }
                }
                &:last-child:hover:before {
                    opacity: 1;
                }
                @for $j from 1 to $i {
                    &:nth-child(#{$j}):hover,
                    &:nth-child(#{$j}):focus,
                    &:nth-child(#{$j}):focus-within {
                        ~ li:last-child:before {
                            @include gooeyEffect($j);
                            top: (100% / $i) * ($j - 1);
                            animation: gooeyEffect-#{$j} $timing 1;
                        }
                    }
                }
                &:last-child:hover:before,
                &:last-child:focus:before,
                &:last-child:focus-within:before {
                    @include gooeyEffect($i);
                    top: (100% / $i) * ($i - 1);
                    animation: gooeyEffect-#{$i} $timing 1;
                }
            }
        }
    }
}

/*********************************** CONFIGURAÇÃO MAIN ***********************************/
main {
    width: 90vw;
    margin-left: 80px;
  
}

/*********************************** CONFIGURAÇÃO CONTAINER PRINCIPAL PADRÃO ***********************************/
.container {
    border-radius: 15px;
    margin: 10px;
    width: 100%;
    height: 100%;
    /* From https://css.glass */
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

/*********************************** CONFIGURAÇÃO SESSÃO APRESENTAÇÃO ***********************************/
.container-apresentacao,
.container-servicos,
.container-beneficios,
.container-portifolio,
.container-hardskills {
    padding: 65px 10px;
    margin: 5px;
}

.container-apresentacao .descricao-apresentacao {
    border: 4px solid;
    border-image: linear-gradient(227.9deg, #106af2 0%, #00e0ff, #dbf3f0 100%) 1;
    display: flex;
    justify-content: left !important;
    text-align: left;
    padding: 30px;
}

.img-illustracao-principal {
    max-width: 600px;
    max-height: 600px;
}

.paragrafo-apresentacao,
.link-apresentacao {
    line-height: 1.2;
    margin: 10px 0;
    width: 300px;
    color: var(--cor-branco);
}
.link-apresentacao {
    text-align: center;
    background-image: linear-gradient(to top, #106af2, #00e0ff, #dbf3f0);
    border-radius: 10px;
    color: var(--cor-Azul-Marinho);
}
.link-apresentacao:hover {
    background-image: linear-gradient(to right, #dbf3f0, #00e0ff, #106af2);
    box-shadow: 0 0 5px #00e0ff, 0 0 25px #00e0ff, 0 0 50px #00e0ff, 0 0 200px #00e0ff;
    border-radius: 10px;
    color: var(--cor-Azul-Marinho);
}
.descricao-apresentacao h1 {
    width: 14.5ch;
    white-space: nowrap;
    animation: typing 2s steps(40), blink 0.5s step-end infinite alternate;
    overflow: hidden;
    border-right: 3px solid #00e0ff;
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes identifier {
 50%{
     border-color: transparent;
 }   
}
.titulo-pricipal,
.descricao-apresentacao h3,
.titulo-secundario {
    background-image: linear-gradient(to right, #106af2, #00e0ff, #dbf3f0, #f8f2f6);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
}

.titulo-secundario {
    padding: 10px;
    margin: 0 auto;
    border-bottom: 1px solid;
    border-image: linear-gradient(227.9deg, #106af2 0%, #00e0ff, rgba(255, 255, 255, 0.1) 100%) 1;
}

.texto-subtitulo {
    padding: 10px;
    margin: 0 auto;
    border-bottom: 1px solid;
    border-image: linear-gradient(227.9deg, #106af2 0%, #00e0ff, rgba(255, 255, 255, 0.1) 100%) 1;
    background-image: linear-gradient(to right, #106af2, #00e0ff, #dbf3f0, #f8f2f6);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
/*********************************** CONFIGURAÇÃO SERVIÇOS ***********************************/

.servicos-descricao {
    display: flex;
    flex-wrap: nowrap;
}
.lista-servico {
    display: flex;
    flex-wrap: nowrap;
    color: var(--cor-azulesmeralda);
    margin: 5px;
}

.icon-servico {
    margin: 5px auto;
    height: $linkHeight;
    width: $spacer * 2.5;
    color: var(--cor-azulesmeralda);
}

.efeitoHover {
    width: 250px;
    height: 300px;
    position: relative;
    cursor: pointer;
    margin: 15px;
}

.efeitoHover .content {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.089);
    backdrop-filter: blur(20px);
    border: 1px solid var(--cor-azulesmeralda);
    color: var(--cor-Azul-Marinho);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.055);
    transition: all .4s;
    border-radius:  15px ;
}


.content p{
    margin: 10px;
}
.lista-servico .content h3 {
    color: var(--cor-Branco-Azulado);
    margin: 10px;
    background-image: linear-gradient(to right, #106af2, #00e0ff, #dbf3f0, #f8f2f6);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-family: 'Montserrat', sans-serif;
}

.efeitoHover:hover .content {
    color: var(--cor-Azul-Marinho);;
}

.efeitoHover::before,
.efeitoHover::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 50%;
    background: var(--cor-Azul-Oceano);
    z-index: -20;
    transition: all .4s;
    border-radius:  15px 15px 0 0;
}

.efeitoHover::before {
    top: 0;
    right: 0;
}

.efeitoHover::after {
    bottom: 0;
    left: 0;
    background: var(--cor-clara-links);
    border-radius: 0 0 15px 15px;
}

.efeitoHover:hover::before {
    width: 50px;
    height: 50px;
    transform: translate(20px, -20px);
    border-radius: 50%;
}


.efeitoHover:hover::after {
    width: 80px;
    height: 80px;
    transform: translate(-20px, 20px);
    border-radius: 50%;
}
/*********************************** CONFIGURAÇÃO BENEFICIOS ***********************************/

.beneficios-descricao {
    color: var(--cor-azulesmeralda);
}
.lista-beneficios li::before,
.lista-beneficios li::after {
    position: absolute;
    content: "";
    z-index: 1;
}
.item-beneficios::before {
    content: "•";
    color: var(--cor-clara-links);
}

.lista-beneficios li {
    position: relative;
    cursor: pointer;
    border: none;
    transition: 0.4s ease-in;
    z-index: 1;
    margin: 10px;
    padding: 10px;
    display: flex;
}
.lista-beneficios li p {
    margin: 5px;
}

.item-beneficios:hover {
    box-shadow: 7px 7px 0px var(--cor-clara-links);
    color: var(--cor-Branco-Azulado);
    top: 5px;
    left: -5px;
    transition: 1s;
}
.img-beneficios-ilustracao {
    object-fit: contain;
    width: 32vw;
    height: 100%;
}

/*********************************** CONFIGURAÇÃO SESSÃO PORTIFOLIO ***********************************/

.lista-portifolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}
.container-img-portifolio {
    margin: auto;
    margin: 10px;
    filter: drop-shadow(0px 10px 18px var(--cor-Azul-Marinho));


}

.img-portifolio {
    width: 320px;
    height: 270px;
    filter: grayscale(100%);
    transition: filter 0.5s;
    border-radius: 15px;
    cursor: pointer;
    object-fit: cotain;
    
    transform: scale(0.9);
}

.img-portifolio:hover {
filter: grayscale(0);

transform: scale(1.0);
}

.container-botao-portifolio a{
    display: flex;
    flex-direction: column;
    color: var(--cor-Branco-Azulado);
    border-radius: 10px ;
    padding: 10px;
    margin: 10px;
        border-bottom: 2px solid;
    border-image: linear-gradient(227.9deg, #106af2 0%, #00e0ff, rgba(255, 255, 255, 0.1) 100%) 1;
    
}
.container-botao-portifolio a:hover{
    color: var(--cor-verdemar);
}

.container-botao-portifolio img{
    max-width: 40px;
    max-height: 40px;
    object-fit: cover;
    border-radius: 10px;
    margin: 5px;
    transform: scale(0.9);
}


.container-botao-portifolio img:hover{
    transform: scale(1.1);
}
.icon-github{
    filter: invert(200%);
}
/*********************************** CONFIGURAÇÃO HARDSKILLS ***********************************/

.container-hardskills section {
    padding: 10px;
}

.img-hardskills {
    width: 40%;
}

.container-hardskills,
.img-hard-ilustracao {
    width: 35vw;
}

.card {
    perspective: 150rem;
    width: 185px;
    height: 185px;
    position: relative;
    cursor: pointer;
    margin: 10px;
    box-shadow: none;
    background: none;
    overflow: hidden;
    border-radius: 20px;
}
.card::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 260%;
    bottom: -100px;
    background: linear-gradient(#106af2, #bbf9ff);
    animation: EfeitoBorda 4s linear infinite;
}

.card::after {
    content: "";
    position: absolute;
    inset: 4px;
    background: var(--cor-Azul-Marinho);
    border-radius: 16px;
}

@keyframes EfeitoBorda {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.card-side {
    border-radius: 15px;
    transition: all 0.7s ease;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    z-index: 1;
}

.card-side.back {
    transform: rotateY(-180deg);
    background-color: var(--cor-rosa);
    color: var(--cor-Branco-Azulado);
    padding: 10px;
}

.card-side.back h3 {
    color: var(--cor-Azul-Marinho);
    padding-bottom: 5px;
}

.card:hover.card-side.card-side.front {
    transform: rotateY(180deg);
}

.card:hover .card-side.back {
    transform: rotateY(0deg);
}

.card .card-side i{
    font-size: 5rem;
    background-image: linear-gradient(to right, #106af2, #00e0ff, #dbf3f0, #f8f2f6);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

}

.card .logo-csharp{
    font-size: 5rem;
    background-image: linear-gradient(to right, #106af2, #00e0ff, #dbf3f0, #f8f2f6);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-family: 'Lobster', cursive;

}

.card .logo-Dotnet{
    font-size: 3rem;
     background-image: linear-gradient(to right, #106af2, #00e0ff, #dbf3f0, #f8f2f6);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-family: 'Lobster', cursive;
}

/*********************************** CONFIGURAÇÃO RODAPÉ/CONTATO ***********************************/
.container-rodape {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-rodape section {
    padding: 10px;
}

.container-rodape section p {
    padding: 10px;
    margin-top: 20px;
}

.container-rodape section img {
    gap: 15px;
    padding: 8px;
    margin-top: 50px;
    width: 72px;
    height: 72px;
    transform: scale(0.9);
    transition: transform 260ms cubic-bezier(0.4, 0, 0.2, 1);
    filter: drop-shadow(-8px 12px 7px var(--cor-Azul-Marinho));
}

.qr-code-whatsapp{
    padding: 0;
    margin: 0;
    width: 400px;
    height: 780px;
}

.container-rodape section img:hover {
    transform: scale(1.1);
    transform: translateY(-10px);
    
}


.container-rodape p {

    color: var(--cor-Branco-Azulado);
}


/*********************************** CONFIGURAÇÃO FIM DA PAGINÁ ***********************************/

.borda-fim-page {
    margin: 20px auto;
    padding: 50px;
    color: var(--cor-Branco-Azulado);
}

.borda-fim-page {
    content: "";
    border-top: 1px solid;
    border-image: linear-gradient(227.9deg, #106af2 0%, #00e0ff, #dbf3f0 100%) 1;
    width: 100%;
    height: 100%;
}
.borda-fim-page p {
    margin: auto;
}
/*********************************** CONFIGURAÇÃO EFEITO IMAGENS FLUTANDO ***********************************/
#hero,
.animated {
    animation: up-down 1s ease-in-out infinite alternate-reverse both;
}

@-webkit-keyframes up-down {
    from {
        transform: translateY(10px);
    }
    to {
        transform: translateY(-10px);
    }
}

@keyframes up-down {
    from {
        transform: translateY(10px);
    }
    to {
        transform: translateY(-10px);
    }
}
/*********************************** CONFIGURAÇÃO FLEX-BOX ***********************************/
.justify-content-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start !important;
}
.display-flex {
    display: flex;
}

.flex-direction-colum {
    flex-direction: column;
}

.flex-direction-row {
    flex-direction: row;
}
.align-items-flex-end {
    display: flex;
    align-items: flex-end;
}
.space-between {
    display: flex;
    justify-content: space-between;
}

.space-around {
    display: flex;
    justify-content: space-around;
}
.posicao-centro {
    display: flex;
    justify-content: center;
    align-items: center;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--cor-Azul-Oceano);
    border-radius: 50px;
}

::-webkit-scrollbar-thumb {
    background: var(--cor-clara-links);
    border-radius: 50px;
}
