:root {
    /*  Cor de fonte */
    --cor-Azul-Marinho: #040314;
    /*  Cor de fundo */
    --cor-Azul-Oceano: #15365c;
    /* Cor de fundo*/
    --cor-azul: #0194ff;
    /**/
    --cor-azulesmeralda: #bbf9ff;
    /**/
    --cor-Branco-Azulado: #dbf3f0;
    /**/
    --cor-branco: #f8f2f6;
    /**/
    --cor-clara-links: #17cdce;
    /**/
    --cor-diferente: #dd5065;
    /**/
}

$borderRadius: 10px;
$spacer: 1rem;
$primary: #406ff3;
$text: #6a778e;
$linkHeight: $spacer * 3.5;
$timing: 250ms;
$transition: $timing ease all;
.fontes {
    font-family: "Eczar", serif;
    font-family: "Josefin Sans", sans-serif;
    font-family: "Montserrat", sans-serif;
}

/*********************************** CONFIGURAÇÃO PADRÃO ***********************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-size: calc(60% + 0.8vmin);
}

html,
body {
    font-size: calc(60% + 0.8vmin);

    margin: 0;
    padding: 0;
}
body {
    background-color: #040314;
    font-family: "Josefin Sans", sans-serif;
}
a {
    text-decoration: none;
}

li {
    list-style: none;
}

/*********************************** CONFIGURAÇÃO MENU LATERAL ***********************************/
@mixin gooeyEffect($i) {
    @keyframes gooeyEffect-#{$i} {
        0% {
            transform: scale(1, 1);
        }
        50% {
            transform: scale(0.5, 1.5);
        }
        100% {
            transform: scale(1, 1);
        }
    }
}

.navbar {
    $ref: &;
    position: fixed;
    top: $spacer;
    left: $spacer;
    background: linear-gradient(to top, #15365c, #17cdce, #bbf9ff, #dbf3f0);
    border-radius: $borderRadius;
    padding: $spacer 0;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.03);
    height: 94vh;
    z-index: 3;
    &__link {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: $linkHeight;
        width: $spacer * 5.5;
        color: #15365c;
        transition: $transition;
        span {
            position: absolute;
            left: 100%;
            transform: translate(-($spacer * 3));
            opacity: 0;
            color: var(--cor-Azul-Marinho);
            background: linear-gradient(to top, #0194ff, #17cdce, #bbf9ff, #dbf3f0);
            padding: $spacer * 0.75;
            transition: $transition;
            border-radius: $borderRadius * 1.75;
        }
        &:hover {
            color: var(--cor-Azul-Marinho);
            span {
                opacity: 1;
                transform: translate(0);
            }
        }
    }
    &__menu {
        position: relative;
        top: 20%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    &__item {
        &:last-child {
            &:before {
                content: "";
                position: absolute;
                opacity: 0;
                z-index: -1;
                top: 0;
                left: $spacer;
                width: $linkHeight;
                height: $linkHeight;
                background: $primary;
                border-radius: $borderRadius * 1.75;
                transition: $timing cubic-bezier(1, 0.2, 0.1, 1.2) all;
            }
        }
        @for $i from 1 to 12 {
            &:first-child:nth-last-child(#{$i}),
            &:first-child:nth-last-child(#{$i}) ~ li {
                &:hover {
                    ~ li:last-child:before {
                        opacity: 1;
                    }
                }
                &:last-child:hover:before {
                    opacity: 1;
                }
                @for $j from 1 to $i {
                    &:nth-child(#{$j}):hover,
                    &:nth-child(#{$j}):focus,
                    &:nth-child(#{$j}):focus-within {
                        ~ li:last-child:before {
                            @include gooeyEffect($j);
                            top: (100% / $i) * ($j - 1);
                            animation: gooeyEffect-#{$j} $timing 1;
                        }
                    }
                }
                &:last-child:hover:before,
                &:last-child:focus:before,
                &:last-child:focus-within:before {
                    @include gooeyEffect($i);
                    top: (100% / $i) * ($i - 1);
                    animation: gooeyEffect-#{$i} $timing 1;
                }
            }
        }
    }
}

/*********************************** CONFIGURAÇÃO MAIN ***********************************/
main {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1561' height='662' preserveAspectRatio='none' viewBox='0 0 1561 662'%3e%3cg clip-path='url(%26quot%3b%23SvgjsClipPath8949%26quot%3b)' fill='none'%3e%3ccircle r='46.37' cx='723.7' cy='481.62' fill='url(%23SvgjsLinearGradient8950)'%3e%3c/circle%3e%3ccircle r='23.375' cx='378.65' cy='68.73' fill='url(%23SvgjsLinearGradient8951)'%3e%3c/circle%3e%3ccircle r='34.44' cx='374.29' cy='252.29' fill='url(%23SvgjsLinearGradient8952)'%3e%3c/circle%3e%3ccircle r='63.735' cx='189.17' cy='123.03' fill='url(%23SvgjsLinearGradient8953)'%3e%3c/circle%3e%3ccircle r='47.795' cx='721.68' cy='323.16' fill='url(%23SvgjsLinearGradient8954)'%3e%3c/circle%3e%3ccircle r='24.835' cx='502.95' cy='350.14' fill='url(%23SvgjsRadialGradient8955)'%3e%3c/circle%3e%3ccircle r='46.565' cx='603.99' cy='302.66' fill='url(%23SvgjsLinearGradient8956)'%3e%3c/circle%3e%3ccircle r='25.55' cx='1438.66' cy='417.15' fill='url(%23SvgjsLinearGradient8957)'%3e%3c/circle%3e%3ccircle r='63.9' cx='1178.87' cy='175.64' fill='url(%23SvgjsLinearGradient8958)'%3e%3c/circle%3e%3ccircle r='42.785' cx='828.06' cy='562.26' fill='url(%23SvgjsLinearGradient8959)'%3e%3c/circle%3e%3ccircle r='24.68' cx='938.71' cy='497.69' fill='url(%23SvgjsLinearGradient8960)'%3e%3c/circle%3e%3ccircle r='21.18' cx='608.24' cy='13.23' fill='url(%23SvgjsLinearGradient8961)'%3e%3c/circle%3e%3ccircle r='17.3' cx='945.07' cy='6.32' fill='url(%23SvgjsLinearGradient8962)'%3e%3c/circle%3e%3c/g%3e%3cdefs%3e%3cclipPath id='SvgjsClipPath8949'%3e%3crect width='1561' height='662' x='0' y='0'%3e%3c/rect%3e%3c/clipPath%3e%3clinearGradient x1='630.96' y1='481.62' x2='816.44' y2='481.62' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient8950'%3e%3cstop stop-color='%2332325d' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(30%2c 146%2c 230%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='331.9' y1='68.73' x2='425.4' y2='68.73' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient8951'%3e%3cstop stop-color='rgba(213%2c 206%2c 203%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(1%2c 148%2c 255%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='305.41' y1='252.29' x2='443.17' y2='252.29' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient8952'%3e%3cstop stop-color='rgba(1%2c 148%2c 255%2c 1)' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(30%2c 229%2c 228%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='61.69999999999999' y1='123.03' x2='316.64' y2='123.03' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient8953'%3e%3cstop stop-color='rgba(23%2c 205%2c 206%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(167%2c 228%2c 234%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='626.0899999999999' y1='323.16' x2='817.27' y2='323.16' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient8954'%3e%3cstop stop-color='%2332325d' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(30%2c 146%2c 230%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3cradialGradient cx='453.28' cy='399.80999999999995' r='140.49' gradientUnits='userSpaceOnUse' id='SvgjsRadialGradient8955'%3e%3cstop stop-color='rgba(99%2c 223%2c 235%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(4%2c 3%2c 20%2c 1)' offset='1'%3e%3c/stop%3e%3c/radialGradient%3e%3clinearGradient x1='510.86' y1='302.66' x2='697.12' y2='302.66' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient8956'%3e%3cstop stop-color='rgba(1%2c 148%2c 255%2c 1)' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(30%2c 229%2c 228%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='1387.5600000000002' y1='417.15' x2='1489.7600000000002' y2='417.15' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient8957'%3e%3cstop stop-color='rgba(23%2c 205%2c 206%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(167%2c 228%2c 234%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='1051.07' y1='175.64' x2='1306.6699999999998' y2='175.64' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient8958'%3e%3cstop stop-color='rgba(23%2c 205%2c 206%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(167%2c 228%2c 234%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='742.49' y1='562.26' x2='913.63' y2='562.26' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient8959'%3e%3cstop stop-color='%2332325d' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(30%2c 146%2c 230%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='889.35' y1='497.69' x2='988.07' y2='497.69' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient8960'%3e%3cstop stop-color='%2332325d' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(30%2c 146%2c 230%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='565.88' y1='13.23' x2='650.6' y2='13.23' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient8961'%3e%3cstop stop-color='rgba(23%2c 205%2c 206%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(167%2c 228%2c 234%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='910.47' y1='6.32' x2='979.6700000000001' y2='6.32' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient8962'%3e%3cstop stop-color='rgba(213%2c 206%2c 203%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(1%2c 148%2c 255%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}

/*********************************** CONFIGURAÇÃO CONTAINER PRINCIPAL PADRÃO ***********************************/
.container {
    width: 90vw;
    height: 95vh;
    border-radius: 15px;

    margin: 15px;
    /* From https://css.glass */
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

/*********************************** CONFIGURAÇÃO SESSÃO APRESENTAÇÃO ***********************************/
.container-apresentacao {
    width: 80vw;
    margin: auto;
    overflow: hidden;
}
.img-illustracao-principal {
    max-width: 600px;
    max-height: 600px;
}

.descricao-apresentacao {
    border: 4px solid;
    border-image: linear-gradient(227.9deg, #106af2 0%, #00e0ff, #dbf3f0 100%) 1;
    display: flex;
    justify-content: left !important;
    text-align: left;
    padding: 20px;
}

.descricao-apresentacao h3,
.titulo-pricipal,
.titulo-secundario {
    background-image: linear-gradient(to right, #106af2, #00e0ff, #dbf3f0, #f8f2f6);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: 2.5rem;
}

.titulo-secundario {
    padding: 10px;
    margin: 0 auto;
    border-bottom: 1px solid;
    border-image: linear-gradient(227.9deg, #106af2 0%, #00e0ff, rgba(255, 255, 255, 0.1) 100%) 1;
}

.texto-subtitulo {
    padding: 10px;
    margin: 0 auto;
    border-bottom: 1px solid;
    border-image: linear-gradient(227.9deg, #106af2 0%, #00e0ff, rgba(255, 255, 255, 0.1) 100%) 1;
    background-image: linear-gradient(to right, #106af2, #00e0ff, #dbf3f0, #f8f2f6);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
}

.paragrafo-apresentacao,
.link-apresentacao {
    line-height: 1.2;
    margin: 20px 0;
    width: 300px;
    color: var(--cor-branco);
}
.link-apresentacao {
    text-align: center;
    padding: 8px;
    background-image: linear-gradient(to top, #106af2, #00e0ff, #dbf3f0);
    border-radius: 10px;
    font-weight: 900;
    color: var(--cor-Azul-Marinho);
}
.link-apresentacao:hover {
    padding: 5px 20px;
    background-image: linear-gradient(to right, #dbf3f0, #00e0ff, #106af2);
    box-shadow: 0 0 5px #00e0ff, 0 0 25px #00e0ff, 0 0 50px #00e0ff, 0 0 200px #00e0ff;
    border-radius: 10px;
    font-weight: 900;
    color: var(--cor-Azul-Marinho);
}

/*********************************** CONFIGURAÇÃO SERVIÇOS ***********************************/
.container-servicos {
    width: 80vw;
}
.servicos-descricao {
    display: flex;
    flex-wrap: nowrap;
}
.lista-servico {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 15px;
    color: var(--cor-azulesmeralda);
}

.item-servicos {
    padding: 10px;
    color: var(--cor-branco);
}
.lista-servico h3 {
    color: var(--cor-clara-links);
    margin: 5px 0;
}

.icon-servico {
    margin: 10px auto;
    height: $linkHeight;
    width: $spacer * 2.5;
}

/*********************************** CONFIGURAÇÃO BENEFICIOS ***********************************/
.container-beneficios {
    width: 80vw;
    display: flex;
    flex-wrap: nowrap;
}
.beneficios-descricao {
    color: var(--cor-clara-links);
}
.lista-beneficios li::before,
.lista-beneficios li::after {
    position: absolute;
    content: "";
    z-index: 1;
}
.item-beneficios::before {
    content: "•";
    color: var(--cor-clara-links);
}

.lista-beneficios li {
    position: relative;
    cursor: pointer;
    border: none;
    transition: 0.4s ease-in;
    z-index: 1;
    margin: 10px;
    padding: 10px;
    display: flex;
}
.lista-beneficios li p {
    margin: 5px;
}

.item-beneficios:hover {
    box-shadow: 7px 7px 0px var(--cor-clara-links);
    color: var(--cor-Branco-Azulado);
    top: 5px;
    left: -5px;
    transition: 1s;
}
.img-beneficios-ilustracao {
    object-fit: contain;
    width: 32vw;
    height: 100%;
}

/*********************************** CONFIGURAÇÃO SESSÃO PORTIFOLIO ***********************************/

.container-portifolio {
    margin: 0;
    padding: 0;
}
.lista-portifolio {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}
.container-img-portifolio {
    margin: auto;
    margin: 10px;
}

.img-portifolio {
    width: 300px;
    height: 230px;
    object-fit: cotain;
}

/*********************************** CONFIGURAÇÃO HARDSKILLS ***********************************/
.container-hardskills {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.container-hardskills .img-hard-ilustracao {
    width: 40vw;
}

.container-hardskills section {
    padding: 5px;
}

.img-hardskills {
    width: 40%;
}

.card {
    perspective: 150rem;
    width: 200px;
    height: 180px;
    position: relative;
    margin: 10px;
    box-shadow: none;
    background: none;
    background: var(--cor-Azul-Marinho);
    overflow: hidden;
    border-radius: 20px;
}
.card::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 260%;
    bottom: -100px;
    background: linear-gradient(#106af2, #bbf9ff);
    animation: EfeitoBorda 4s linear infinite;
}

.card::after {
    content: '';
    position: absolute;
    inset: 4px;
    background: var(--cor-Azul-Marinho);
    border-radius: 16px;
}

@keyframes EfeitoBorda {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.card-side {
    border-radius: 15px;
    transition: all 0.7s ease;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    z-index: 1;
}

.card-side.back {
    transform: rotateY(-180deg);
    background-color: var(--cor-Azul-Marinho);
    color: var(--cor-Branco-Azulado);
    padding: 15px;
}

.card-side.back h3 {
    color: var(--cor-clara-links);
    padding-bottom: 5px;
}

.card-side.front {
    
}

.card:hover.card-side.card-side.front {
    transform: rotateY(180deg);
}

.card:hover .card-side.back {
    transform: rotateY(0deg);
}

/*********************************** CONFIGURAÇÃO RODAPÉ/CONTATO ***********************************/
/*********************************** CONFIGURAÇÃO FIM DA PAGINÁ ***********************************/
.borda-fim-page {
    border: 2px solid;
    border-image: linear-gradient(227.9deg, #106af2 0%, #00e0ff, #dbf3f0 100%) 1;
    margin: 10px auto;
}
.p-reservado {
    color: var(--cor-Branco-Azulado);
    margin: auto;
    text-align: center;
}
/*********************************** CONFIGURAÇÃO EFEITO IMAGENS FLUTANDO ***********************************/
#hero,
.animated {
    animation: up-down 1s ease-in-out infinite alternate-reverse both;
}

@-webkit-keyframes up-down {
    from {
        transform: translateY(10px);
    }
    to {
        transform: translateY(-10px);
    }
}

@keyframes up-down {
    from {
        transform: translateY(10px);
    }
    to {
        transform: translateY(-10px);
    }
}
/*********************************** CONFIGURAÇÃO FLEX-BOX ***********************************/
.justify-content-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start !important;
}
.display-flex {
    display: flex;
}

.flex-direction-colum {
    flex-direction: column;
}

.flex-direction-row {
    flex-direction: row;
}
.align-items-flex-end {
    display: flex;
    align-items: flex-end;
}
.space-between {
    display: flex;
    justify-content: space-between;
}
.posicao-centro {
    display: flex;
    justify-content: center;
    align-items: center;
}
